.cover{
    grid-column: 1/-1;
    width: 100%;
    
}
.current__page{
    font-weight: bold;
}
.Users__list{
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
}
.find{
    grid-column: 1/-1;
    width: 10%;
    justify-self: center;
    background-color: rgba(0, 60, 255, .75);
    padding: 5px;
    border:none;
    border-radius: 5px;
    color:wheat;
    font-size: 16px;
    cursor: pointer;
}
.User__container{
    width: 100%;
    margin-left: 2.5%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.User__follow{
    display: flex;
    flex-direction: column;    
}
.User__follow__button{
    background-color: rgba(0, 60, 255, .75);
    padding: 5px;
    border:none;
    border-radius: 5px;
    color:wheat;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    width: 75px;
}
.User__friend{
    color: gray;
    font-style: italic;
    margin: 0;
}
.User__unfollow__button{
    background-color: rgba(255, 2, 2, 0.75);
    padding: 5px;
    border:none;
    border-radius: 5px;
    color:wheat;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    width: 75px;
}
.User__follow__button:hover{
    background-color: rgba(0, 60, 255, .95);
}
.User__unfollow__button:hover{
    background-color: rgba(255, 2, 2, 0.95);
}
.User__about{
    width: 70%;
    border: 1px solid rgba(0, 60, 255, .5);
    border-radius: 10px;
    transition: 0.5s;
    padding: 10px;
    margin-left: 15px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(224, 228, 233);
    transition: 0.5s;
    cursor: pointer;
}
.User__subscribed{
    width: 70%;
    background-color: rgb(240, 243, 247);
    border: 1px solid rgba(0, 60, 255, .5);
}

.User__about:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 60, 255);
}
.User__description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.User__description__name{
    margin: 0;
}
.User__description__status{
    font-size: 13px;
    color: gray;
    margin: 0;
}
.User__location{
    display: flex;
    flex-direction: column;
    justify-content: center;
}