.Dialog__members{
    display: flex;
    flex-direction: column;
}
.Dialog__member {
    position: relative;
    text-decoration: none;
    padding: 10px 10px 10px 25px;
    font-size: 20px;
    border-bottom: 2px solid rgba(0, 60, 255, .2);
    cursor: pointer;
    color: black;
    transition:0.5s;
}
.active{
    position: relative;
    font-weight: bold;
    font-style: italic;
}
.Dialog__member:hover{
    background-color: rgba(0, 60, 255, .1);
    border-bottom: 2px solid rgba(0, 60, 255, .5);
    left: 3px;
}
.Dialog__member_settings{
    position: absolute;
    right: 5%;
    top: 30%;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(225, 225, 231);
    background-color: rgba(245, 238, 238, .5);
    opacity: 0.5;
    transition: 0.5s;
}
.Dialog__member_settings::after{
    content: ' ';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: red;
    transform: rotate(45deg);
    top:50%;
}
.Dialog__member_settings::before{
    content: ' ';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: red;
    transform: rotate(-45deg);
    top:50%;
}
.Dialog__member_settings:hover{
    background-color: rgb(225, 225, 231);
    opacity: 1;
}
.active{
    position: relative;
    font-weight: bold;  
    font-style: italic;
}