.Nav{
    grid-column: 1 / 2;
}
.NL{
    text-decoration: none;
}
.Nav__link {
    padding: 10px 10px 10px 20px;
    font-size: 20px;
    border-bottom: 1px solid rgb(135,155,192);
    cursor: pointer;
    color: black;
    transition: 0.5s;
}
.Nav__link:hover{
    background: rgba(0, 60, 255, .1);
    font-weight: bold;
    border-bottom: 1px solid rgb(89, 121, 180);
}
.active{
    position: relative;
    font-weight: bold;
    font-style: italic;
}
.Nav__friendsField__header{
    text-align: center;
}