.Registration__container{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin: 25px 0 25px 0;
}
.Registration__links, .Registration__location, .Registration_dob{
    position: relative;
    margin-top: 35px;
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 0.5fr 1fr;
}
.Registration__links::before{
    content: 'Socials';
}
.Registration__location::before{
    content: 'Location';
}
.Registration_dob::before{
    content: 'Date Of Birth';
}
.Registration__links::before, .Registration__location::before, .Registration_dob::before{
    position: absolute;
    top: -20px;
    left: 48%;
    font-style: italic;
}
.Registration__span{
    justify-self: end;
    padding: 5px;
    margin: 5px;
}
.Registration__input{
    width: 50%;
    text-align: center;
    font-size: 15px;
}
.Registration__button{
    grid-column: 1/-1;
    justify-self: center;
    background-color: rgba(0, 60, 255, .75);
    padding: 5px;
    border:none;
    border-radius: 5px;
    color:wheat;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    width: 75px;
    margin-top: 10px;
}
.Registration__button:hover{
    background-color: rgba(0, 60, 255, 1);
    color:white;
}
.Registration__input:disabled{
    background-color: lightgrey;
}
.Registration__incorrect_input{
    border: 1px solid red;
}
.Registration__button:disabled{
    color:lightskyblue;
    background-color: rgba(49, 49, 49, 0.95);
}